.kk{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
    
    

}
.qq{
    display: block;
    width: 375px;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 15px;
    padding-left: 13px;
    border: none;
    background-color: rgb(241, 235, 235);
}
.oo{
    display: block;
    width: 375px;
    height: 35px;
    margin-bottom: 35px;
    margin-left: 5px;
    font-size: 15px;
    padding-left: 13px;
    border: none;
    background-color: rgb(241, 235, 235)
}
.k1{
    width: 120px;
    height: 40px;
    margin-left: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    color:white;
    cursor: pointer;
    

    
}
.k1:active{
    opacity: 0.2;
   
}

.k2{
    width: 130px;
    height: 40px;
    margin-left: 15px;
    border: none;
    background-color: rgb(241, 235, 235) ;
    cursor: pointer;
}
.k2:active{
    opacity: 0.2;
    
}